*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #434455;
  --hover-color: #404bbf;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #ffffff;
  --text-color: #f4f4fd;
  --font-family: Roboto, sans-serif;
  --background-color: #e7e9fc;
}

body {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

ul {
  padding-left: 0px;
  margin: 0;
}
p {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  width: 1158px;
  margin: auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid var(--background-color);
  box-shadow: зі значенням 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* .header-cont .container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
} */

.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .container {
  width: 1158px;
  padding: 0 15px;
  margin: auto;
} */

/* .add-container { */
/* display: flex; */
/* width: ; */
/* } */

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.add-email {
  width: 153px;
  height: 24px;
  margin-left: 940px;
  margin-right: 347px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.add-phone {
  width: 151px;
  height: 24px;
  margin-left: 1133px;
  margin-right: 156px;
}
.content-title {
  display: none;
}

.feature {
  width: calc((100% - 72px) / 4);
}

.section-image {
  width: calc((100% - 48px) / 3);
}

.site-nav,
.contacts-nav,
.feature-list,
.work-list,
.people-list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  display: flex;
  justify-content: center;
}
/* Navigation */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo {
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--hover-color);
}
.link-current {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.link-current:hover,
.link-current:focus {
  color: var(--hover-color);
}
.header-studio-logo {
  color: var(--title-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-bg-color);
}
.site-nav {
  display: flex;
}
.site-nav .li {
  margin-right: 70px;
}
.site-nav .li:last-child {
  margin-right: 0;
}
.nav-con {
  display: flex;
  width: 213px;
  justify-content: space-between;
  gap: 40px;
}
.flex-cont {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-nav .link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
  gap: 40px;
}
.navg {
  padding: 24px 0;
}
.list {
  list-style: none;
}
.flex-nav-cont {
  width: 1128px;
  justify-content: space-between;
}
.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-color);
}
.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  list-style: none;
}
.portfolio-nav .button {
  color: var(--accent-color);
  border: 1px solid var(--background-color);
  background-color: var(--text-color);
}
.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--secondary-bg-color);
}

.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

img {
  display: block;
  /* width: 300px; */
}
.content-title {
  visibility: hidden;
}
.portfolio-con .container {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
}

.flex-con {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.contacts {
  font-style: normal;
}

.contacts-nav {
  display: flex;
  gap: 40px;
}
.contacts-nav .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--hover-color);
}
.hero {
  /* padding: 188px 0; */
  background-color: var(--title-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 1440px;
  margin: auto;
  position: relative;
  /* background: rgba(46, 47, 66, 0.7); */
}

.hero-title {
  color: var(--secondary-bg-color);
  font-weight: 700;
  font-size: 56px;
  margin: 0 auto;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}
.sec {
  padding: 188px 0;
}
.parent {
  text-align: center;
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
}

/* .child { */
/* text-align: center; */
/* margin-bottom: 188px; */
/* } */

.hov:hover,
.hov:focus {
  border: 1px solid transparent;
  background-color: var(--hover-color);
}

.ord {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;
}

.ord:hover {
  background-color: var(--hover-color);
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--secondary-bg-color);
  background-color: var(--accent-color);
  padding: 12px 24px;
  /* border: 1px solid var(--background-color); */
  border-radius: 4px;
  border: none;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.services-list .list {
  margin: 0px;
}
.service-name {
  width: calc((100% - 48px) / 3);
}
.service-class {
  padding: 32px 16px;
  border: 1px solid var(--background-color);
  border-top: none;
  width: 360px;
}

.feature-section {
  flex-basis: auto;
  padding: 120px 0;
}
/* .container {
  width: 1158px;
  margin: auto;
} */

.feature-container {
  display: flex;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}
.flex-feature {
  display: flex;
}
.flex-feature:not(:last-child) {
  margin-right: 24px;
}

.feature-list {
  display: flex;
  gap: 24px;
}
.feature {
  width: calc((100% - 72px) / 4);
}

.feature-list .title {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.feature-list .text {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.services {
  padding: 96px 0 120px 0;
}

.services-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.service-name {
  width: calc((100% - 48px) / 3);
}
.service-class .title {
  margin: 0;
  margin-bottom: 8px;
}

.section {
  padding-bottom: 120px;
}

.services-list {
  padding: 0px;
}
.services-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin: 0;
}
.section-container {
  display: flex;
  width: 1128px;
  max-height: 412px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 120px; */
  justify-content: space-between;
  align-items: center;
}
.section-cont {
  width: 1128px;
  padding-bottom: 120px;
}

.section-cont .title {
  margin-bottom: 72px;
}
.section-cont {
  margin: auto;
}
.section-cont .list {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.section-image {
  width: calc((100% - 48px) / 3);
}
/* .title-container {
  display: block;
  width: 323px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  margin-top: 120px;
} */

.section-item {
  display: flex;
  margin-bottom: 0;
  /* padding-top: 112px; */
}
.team-title {
  display: block;
  width: 162px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
}
.team-container {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.team-container .subtitle {
  text-align: center;
}
.team-container .text {
  text-align: center;
}

.team-sec {
  padding: 120px 0;
  background-color: var(--background-color);
  margin: auto;
}

.team-con {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 24px;
  justify-content: space-evenly;
}
.team-con .title {
  margin-bottom: 72px;
}

.team-section {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 24px;
  padding: 0;
}

.section .title,
.team-section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.team-section .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.team-section .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.team-section .text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
.team-member {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  /* background-color: var(--secondary-bg-color); */
}

.name {
  width: 264px;
  /* height: 120px; */
  padding: 32px 16px;
  align-items: center;
  background-color: var(--secondary-bg-color);
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.name .subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.name .text {
  text-align: center;
}
.footer {
  padding: 100px 0;
  background-color: var(--title-text-color);
}
.footer-container .logo {
  display: inline-block;
  /* margin-bottom: 17px; */
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.footer-studio-logo {
  color: var(--text-color);
}
.footer .text {
  line-height: 1.5;
  color: var(--text-color);
  max-width: 264px;
}
.footer-container {
  display: flex;
  gap: 140px;
  /* width: 264px; */
}

.test-container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Alternative */

/* .flex-element { */
/* width: calc((100% - 60px) / 3); */
/* margin-right: 30px; */
/* } */

.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-child(-n + 3) {
  margin-bottom: 0;
}

/* Альтернатива */
/* .flex-element:not(:nth-child(3n)) { */
/* margin-right: 30px; */
/* } */
/* .flex-element:not(:nth-last-child(-n + 3)) { */
/* margin-bottom: 30px;} */

.icons-con {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.bg-con {
  padding: 30px;
  max-width: 264px;
  max-height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}

.second-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-text {
  color: white;
  margin: 0px;
}

.card {
  padding: 20px 50px;
  border: 1px solid gray;
  border-radius: 5px;
}

.customers {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.customers-section {
  font-size: 36px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
