.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-diligence {
  width: 1.2802734375em;
}

.icon-punctuality {
  width: 0.96875em;
}

.icon-strategy {
  width: 0.9375em;
}

.icon-customers6 {
  width: 1.857421875em;
}

.icon-customers3 {
  width: 1.857421875em;
}

.icon-customers4 {
  width: 1.857421875em;
}

.icon-customers5 {
  width: 1.857421875em;
}

.icon-customers2 {
  width: 1.857421875em;
}

.icon-customers1 {
  width: 1.857421875em;
}
